.container {
    margin: 10rem;
    padding: 1rem;
    border-radius: 1rem;
    max-width: 90%;
    min-width: 90%;
    background-color: rgba(200, 200, 200, .5);
    display: flex;
    flex-direction: column;
    align-items: center;
}