.intro {
    margin-bottom: 5rem;
    h1, h2 {
        line-height: 3rem;
        text-align: center;
        margin-bottom: 2rem;
    }
    p {
        line-height: 2.5rem;
    }
}
.mockery {
    margin-top: 1rem;
    text-align: center;
}